        <footer>
            <hr>
            CST336 Internet Programming. 2020&copy; Josh Hansen <br />
            <strong>Disclaimer:</strong> The information in this webpage might be innaccurate.
            
            <logo>
                <br /><br />
                <img id="footerImg" src="img/csumb.png" alt="CSUMB Logo" />
            </logo>
        </footer>
    </body>

</html>