<!DOCTYPE html>
<html>
    <head>
        <title> The Solar System </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;300&display=swap" rel="stylesheet"
    </head>
    <body>
        <span id="banner"><img id="headerImg" src="/img/solar_system.png" alt="The Solar System" /></span>
        <span id="navSpan">
            <nav>
                <a href="/">
                     <img alt="Home" src="/img/home.png" width="30" height="30" id="homeImg">
                </a>
                <a href="/mercury" id="menu"> Mercury </a> <br>
                <a href="/earth" id="menu"> Earth </a> <br>
                <a href="/venus" id="menu"> Venus </a> <br>
                <a href="/planetX" id="menu"> Planet X </a> <br>
            </nav>
        </span>
        <br>