<%- include('partials/header.ejs') %>

    <span id="planet"><img id="planetImg" src="/img/earth.png" alt="The Solar System" /></span>
    <h2> EARTH </h2>
    
        
    <table>
        <td>
            Earth is the third planet from the sun, and is also know for being the home for all of us. Earth is the only currently known planet in the universe that has life on it's surface, and is made up of approximately 72% water. The earth is made up of separate parts including the crust, mantle, and an iron core which itself is liquid on the outside, and solid on the inside; the liquid outer core also known to be responsible for the earth's magnetic field.
            <br><br>
            The earth's atmosphere marjorly consists of both nitrogen and oxygen and is responsible for creating the earth's climate. Alongside the atmosphere,  an important part of the earth is the moon( a satilite held captive by earth's gravity). The moon is responsible for regulating the Earth's tides, slow the Earth's rotation, as well as orienting the earth on it's axis.
        </td>
    </table>

<%- include('partials/footer.ejs') %>