<%- include('partials/header.ejs') %>

    <span id="planet"><img id="planetImg" src="/img/mercury.png" alt="The Solar System" /></span>
    <h2> MERCURY </h2>
    
    <table>
        <td>
            Mercury happens to be both the smallest planet as well as the planet closest to the sun. Due to Mercury's proximity to the sun, it travels around the sun faster than all other plants, earning its name after the Roman god of messages. 
            <br><br>
            Mercury is also known for lacking any tangible atmosphere, and thus is susceptible to drastic temperature swings, ranging from 450°C in the day...to -175°C at night!
        </td>
    </table>

<%- include('partials/footer.ejs') %>