<%- include('partials/header.ejs') %>

    <span id="planet"><img id="planetImg" src="/img/venus.png" alt="The Solar System" /></span>
    <h2> VENUS </h2>
    
    <table>
        <td>
            Venus is the second planet from the Sun, and is known for being similar to earth in almost all physical senses (density, size, gravity, and make-up), though it's mass is only roughly 80% of Earth's. Venus was named after the Roman goddess of beauty and love due to the way it has been clearly visible even to ancient astronomers while other planets were not.
            <br><br>
            Though Venus was named after the goddess of beauty, in reality it's atmosphere is excessivly inhospitable. The reason for this harshness is firstly that the atmosphere is hefty, and heavier than all other plants in our solar system, which can be demonstrated in that pressure on venus is over 90 times the pressure of earth.
        </td>
    </table>
    
<%- include('partials/footer.ejs') %>